/* ------------------------------------------------------------------------- *
 *  THIS IS MAIN (SASS) FILE
/* ------------------------------------------------------------------------- */
/*  VARIABLE's
/* ------------------------------------ */
/*  TYPOGRAPHY's
/* ------------------------------------ */
/* Fool-proof @font-face */
/* Based on http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/ */
@font-face {
  font-family: Brandon;
  src: url("../fonts/brandon_re-webfont.eot");
  src: url("../fonts/brandon_re-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_re-webfont.woff") format("woff"), url("../fonts/brandon_re-webfont.ttf") format("truetype"), url("../fonts/brandon_re-webfont.svg#Brandon") format("svg");
  font-weight: 400;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Brandon;
    src: url("../fonts/brandon_re-webfont.svg#Brandon") format("svg"); } }
@font-face {
  font-family: BrandonGrotesque;
  src: url("../fonts/brandon_grotesque_bold-webfont.eot");
  src: url("../fonts/brandon_grotesque_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_grotesque_bold-webfont.woff") format("woff"), url("../fonts/brandon_grotesque_bold-webfont.ttf") format("truetype"), url("../fonts/brandon_grotesque_bold-webfont.svg#BrandonGrotesque") format("svg");
  font-weight: 600;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: BrandonGrotesque;
    src: url("../fonts/brandon_grotesque_bold-webfont.svg#BrandonGrotesque") format("svg"); } }
@font-face {
  font-family: SourceSansPro;
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#SourceSansPro") format("svg");
  font-weight: 400;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: SourceSansPro;
    src: url("../fonts/sourcesanspro-regular-webfont.svg#SourceSansPro") format("svg"); } }
/*  GENERAL
/* ------------------------------------ */
html, body {
  height: 100; }

body {
  font-family: "Brandon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: #eeeeee; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  transition: all .35s ease-out; }
  a:hover, a:focus {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "BrandonGrotesque", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #090727;
  font-weight: bold; }

.padd-less {
  padding-left: 6px !important; }

.bg-white {
  background: white; }

.bg-blue {
  background: rgba(9, 7, 39, 0.88); }

::-webkit-input-placeholder {
  font-family: "Brandon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: #8b8b8b;
  text-transform: uppercase;
  font-weight: bold; }

:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Brandon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: #8b8b8b;
  text-transform: uppercase;
  font-weight: bold; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Brandon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: #8b8b8b;
  text-transform: uppercase;
  font-weight: bold; }

:-ms-input-placeholder {
  font-family: "Brandon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: #8b8b8b;
  text-transform: uppercase;
  font-weight: bold; }

.section-small-box {
  padding: 20px 0; }

.section-box {
  padding: 40px 30px; }

.section-box-floating {
  position: relative;
  margin-top: -10%;
  z-index: 1; }
  @media (max-width: 480px) {
    .section-box-floating {
      margin-top: 0; } }

.nomarg {
  margin-left: 0;
  margin-right: 0; }

.nopadd {
  padding-left: 0;
  padding-right: 0; }

.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

.share-facebook {
  background-color: #3b5998 !important; }
  .share-facebook:hover {
    background: #2d4373 !important; }
  .share-facebook:focus {
    background: #1e2e4f !important; }

.share-twitter {
  background-color: #0084b4 !important; }
  .share-twitter:hover {
    background: #005f81 !important; }
  .share-twitter:focus {
    background: #00394e !important; }

.share-google-plus {
  background-color: #d34836 !important; }
  .share-google-plus:hover {
    background: #b03626 !important; }
  .share-google-plus:focus {
    background: #86291d !important; }

.share-instagram {
  background-color: #517fa4 !important; }
  .share-instagram:hover {
    background: #406582 !important; }
  .share-instagram:focus {
    background: #2f4a60 !important; }

.share-pinterest {
  background-color: #cb2027 !important; }
  .share-pinterest:hover {
    background: #9f191f !important; }
  .share-pinterest:focus {
    background: #731216 !important; }

.share-linkedin {
  background-color: #007bb6 !important; }
  .share-linkedin:hover {
    background: #005983 !important; }
  .share-linkedin:focus {
    background: #003650 !important; }

.share-youtube {
  background-color: #bb0000 !important; }
  .share-youtube:hover {
    background: #880000 !important; }
  .share-youtube:focus {
    background: #550000 !important; }

.share-tumblr {
  background-color: #32506d !important; }
  .share-tumblr:hover {
    background: #22364a !important; }
  .share-tumblr:focus {
    background: #121d27 !important; }

.share-flickr {
  background-color: #ff0084 !important; }
  .share-flickr:hover {
    background: #cc006a !important; }
  .share-flickr:focus {
    background: #99004f !important; }

.share-vimeo {
  background-color: #aad450 !important; }
  .share-vimeo:hover {
    background: #93c130 !important; }
  .share-vimeo:focus {
    background: #749925 !important; }

.share-more {
  background-color: #FC6D4B !important; }
  .share-more:hover {
    background: #fb4419 !important; }
  .share-more:focus {
    background: #dd2d04 !important; }

.share-google {
  background-color: #0072b1 !important; }
  .share-google:hover {
    background: #00517e !important; }
  .share-google:focus {
    background: #00304b !important; }

.popup_content {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  padding: 60px 30px 30px;
  min-height: 30px;
  background-color: #eeeeee;
  border: 1px solid #d4d4d4; }

.popup_visible .popup_content {
  max-width: 650px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }
  @media (max-width: 767px) {
    .popup_visible .popup_content {
      max-width: 550px; } }
  @media (max-width: 570px) {
    .popup_visible .popup_content {
      max-width: 300px;
      margin: 0 30px;
      padding: 40px 15px 15px; } }
.popup_visible .menu-tanggal {
  overflow-y: scroll;
  max-height: 100px; }
.popup_visible .lp_popup_close {
  border: none;
  background-color: #1d177d;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  color: white; }
  .popup_visible .lp_popup_close:hover, .popup_visible .lp_popup_close:focus {
    background-color: #090727; }

/*  BUTTON's
/* ------------------------------------ */
.btn-lb {
  display: inline-block;
  padding: 8px 18px;
  text-transform: uppercase;
  font-weight: bold; }
  .btn-lb:hover, .btn-lb:focus {
    outline-color: transparent; }

.btn-blue-dark {
  color: white;
  background-color: #090727; }
  .btn-blue-dark:hover, .btn-blue-dark:focus {
    color: white;
    background-color: #181368; }

.btn-gray {
  background-color: #e8e8e8;
  color: #636363; }
  .btn-gray:hover, .btn-gray:focus {
    color: #636363;
    background: #cfcfcf; }

.btn-full-width {
  width: 100%;
  text-align: center; }

.btn-line {
  background-color: transparent;
  border: 2px solid transparent; }

.btn-line-white {
  border-color: white;
  color: white; }
  .btn-line-white:hover, .btn-line-white:focus {
    color: white;
    opacity: .35; }

.btn-radius {
  border-radius: 22px; }

.btn-combo {
  width: 100%;
  padding: 1em;
  border: 1px solid rgba(9, 7, 39, 0.7);
  background: transparent;
  position: relative;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #8b8b8b; }
  .btn-combo .caret {
    position: absolute;
    right: 0; }

.btn-l {
  padding: 14px 28px; }

.btn-hide {
  height: 38px;
  width: 38px;
  line-height: 38px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  color: black;
  display: inline-block; }
  .btn-hide:hover, .btn-hide:focus {
    color: black;
    opacity: .6;
    outline-color: transparent; }

.group-combo {
  display: block; }
  .group-combo .dropdown-menu {
    width: 100%;
    border-radius: 0;
    padding: 0;
    z-index: 33 !important; }
    .group-combo .dropdown-menu > li > a {
      padding: 5px 20px; }
      .group-combo .dropdown-menu > li > a:hover, .group-combo .dropdown-menu > li > a:focus {
        background-color: #eeeeee; }

.btn-rwd-main {
  display: none;
  background-color: white;
  position: relative;
  float: right;
  border-radius: 50%;
  height: 38px;
  line-height: 38px;
  width: 38px;
  text-align: center;
  font-size: 600;
  cursor: pointer; }
  @media (max-width: 995px) {
    .btn-rwd-main {
      display: block; } }
  .btn-rwd-main:hover, .btn-rwd-main:focus, .btn-rwd-main.active {
    background-color: rgba(255, 255, 255, 0.6);
    outline-color: transparent; }
  .btn-rwd-main .bars {
    position: relative;
    width: 15px;
    height: 2px;
    background-color: black;
    display: inline-block;
    top: -4px;
    transition: background 150ms ease-out, -webkit-transform 150ms ease-out;
    transition: background 150ms ease-out, transform 150ms ease-out; }
    .btn-rwd-main .bars:before, .btn-rwd-main .bars:after {
      width: 15px;
      height: 2px;
      background-color: black;
      position: absolute;
      content: "";
      transition: -webkit-transform 200ms ease-out;
      transition: transform 200ms ease-out;
      left: 0; }
    .btn-rwd-main .bars:before {
      top: 4px; }
    .btn-rwd-main .bars:after {
      bottom: 4px; }

/*  FORM's
/* ------------------------------------ */
input[type="text"],
input[type="email"],
input[type="website"],
input[type="search"],
textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid rgba(9, 7, 39, 0.7);
  background: transparent; }

.form-contact .field-box {
  padding: 7px;
  margin-bottom: 5px; }
.form-contact .btn-lb {
  width: 100%;
  border: 1px solid #090727;
  padding: 1em;
  transition: all 350ms ease; }
.form-contact .btn-combo {
  padding: 1em;
  width: 100%;
  color: #a4a4a4;
  font-family: "BrandonGrotesque", sans-serif;
  font-weight: 600;
  font-style: normal; }
  .form-contact .btn-combo:hover, .form-contact .btn-combo:focus {
    color: #8b8b8b; }
  .form-contact .btn-combo .caret {
    right: 1em;
    top: 1.5em; }
.form-contact .group-combo .dropdown-menu {
  top: 96%; }
  .form-contact .group-combo .dropdown-menu > li > a {
    padding: 8px 20px; }
.form-contact input,
.form-contact .btn-lb,
.form-contact .btn-combo {
  height: 42px;
  line-height: 16px;
  padding-top: 0;
  padding-bottom: 0; }
.form-contact .btn-combo {
  line-height: 42px; }

.form-search-advance {
  position: relative;
  margin-top: 20px; }
  @media (max-width: 920px) {
    .form-search-advance {
      text-align: center; } }
  .form-search-advance form {
    position: relative; }
  .form-search-advance input,
  .form-search-advance .btn-combo,
  .form-search-advance .btn-lb {
    padding: 1em;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-family: "Brandon", sans-serif;
    font-weight: 400;
    font-style: normal; }
  .form-search-advance .btn-combo,
  .form-search-advance .btn-lb {
    padding: 0 1em;
    font-size: 14px;
    font-weight: 500; }
  .form-search-advance .btn-combo .caret {
    margin-top: 1.6em;
    margin-right: 1em; }
  .form-search-advance input[type="text"] {
    width: 40%;
    float: left;
    margin-right: 15px; }
  .form-search-advance .group-combo {
    width: 20%;
    float: left;
    margin-right: 15px; }
  @media (max-width: 920px) {
    .form-search-advance input[type="text"] {
      margin-bottom: 20px;
      width: 100%;
      text-align: left; } }
  @media (max-width: 920px) {
    .form-search-advance .group-combo {
      margin-bottom: 20px;
      width: 49%;
      margin-right: 0;
      text-align: left; } }
  @media (max-width: 920px) {
    .form-search-advance .group-combo .combo-city,
    .form-search-advance .group-combo .menu-city {
      margin-left: 4%; } }
  .form-search-advance .btn-lb {
    float: right;
    height: inherit;
    padding: .6em 2.5em;
    line-height: inherit;
    margin-top: 8px;
    font-weight: bold;
    font-size: 14px; }
    @media (max-width: 920px) {
      .form-search-advance .btn-lb {
        float: none; } }

.form-search-articles {
  position: relative;
  margin-bottom: 30px; }
  @media (max-width: 995px) {
    .form-search-articles {
      text-align: center; } }
  .form-search-articles .field-shortby {
    position: relative;
    float: left;
    margin-right: 15px; }
    @media (max-width: 995px) {
      .form-search-articles .field-shortby {
        float: none;
        text-align: left;
        margin-bottom: 15px;
        margin-right: 0; } }
  .form-search-articles .combo-sortby,
  .form-search-articles input,
  .form-search-articles .btn-lb {
    text-align: left;
    height: 42px;
    line-height: 42px;
    padding-top: 0;
    padding-bottom: 0; }
  .form-search-articles .combo-sortby {
    max-width: 160px;
    min-width: 150px;
    float: none;
    margin-right: 15px;
    text-align: left; }
    @media (max-width: 995px) {
      .form-search-articles .combo-sortby {
        max-width: inherit;
        width: 100%;
        float: none; } }
    .form-search-articles .combo-sortby .caret {
      right: 10px;
      top: 18px; }
  .form-search-articles .title-section {
    font-family: "Brandon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px !important;
    font-weight: normal;
    float: left;
    margin-right: 15px;
    margin-top: 0px; }
    @media (max-width: 995px) {
      .form-search-articles .title-section {
        float: none;
        text-align: center;
        display: block; } }
    .form-search-articles .title-section img {
      margin-right: 10px; }
  .form-search-articles input {
    max-width: 300px;
    float: left;
    margin-right: 15px; }
    @media (max-width: 995px) {
      .form-search-articles input {
        max-width: inherit;
        margin-bottom: 15px; } }
  .form-search-articles .btn-lb {
    padding-left: 1.5em;
    padding-right: 1.5em; }
    @media (max-width: 995px) {
      .form-search-articles .btn-lb {
        display: inline-block;
        text-align: center; } }

.form-gabung-invest {
  max-width: 650px;
  display: block;
  margin: 0 auto; }
  .form-gabung-invest .field-box {
    margin-bottom: 15px; }
  .form-gabung-invest input,
  .form-gabung-invest .btn-lb,
  .form-gabung-invest .btn-combo {
    height: 42px;
    line-height: 42px;
    padding-top: 0;
    padding-bottom: 0; }
  .form-gabung-invest .btn-combo {
    padding: 0 1em;
    width: 100%;
    color: #a4a4a4;
    font-family: "BrandonGrotesque", sans-serif;
    font-weight: 600;
    font-style: normal; }
    .form-gabung-invest .btn-combo:hover, .form-gabung-invest .btn-combo:focus {
      color: #8b8b8b; }
    .form-gabung-invest .btn-combo .caret {
      right: 1em;
      top: 1.5em; }
  .form-gabung-invest .group-combo .dropdown-menu {
    top: 96%; }
    .form-gabung-invest .group-combo .dropdown-menu > li > a {
      padding: 8px 20px; }
  .form-gabung-invest .btn-lb {
    float: right;
    margin-right: 15px; }

.form-subscribe-email .title-form {
  font-family: "BrandonGrotesque", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 30px; }
.form-subscribe-email .btn-lb {
  padding: 1em 1.5em; }

/*  SITE-HEADER's
/* ------------------------------------ */
.site-header {
  width: 100%;
  z-index: 999;
  padding: 0px !important;
  position: absolute; }
  .site-header .header-sticky {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); }
    @media (max-width: 767px) {
      .site-header .header-sticky {
        position: absolute !important; } }
  .site-header .btn-rwd-main {
    float: right;
    margin-top: 30px; }

.is-sticky .logo-holder a {
  margin-top: 15px; }
  @media (max-width: 995px) {
    .is-sticky .logo-holder a {
      margin-bottom: 15px; } }
.is-sticky .btn-rwd-main {
  margin-top: 20px; }
.is-sticky .main-navigation ul li > a {
  padding: 30px 20px; }
.is-sticky .main-navigation ul li > ul li a {
  padding: 10px 20px; }
.is-sticky .info-content {
  margin-top: 30px; }

.logo-holder {
  float: left; }
  .logo-holder a {
    display: inline-block;
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 25px; }
    @media (max-width: 1200px) {
      .logo-holder a {
        margin-right: 0; } }
    @media (max-width: 1200px) {
      .logo-holder a img {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8); } }

.main-navigation {
  float: left;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  z-index: 333; }
  @media (max-width: 995px) {
    .main-navigation {
      display: none; } }
  .main-navigation ul {
    list-style: none outside none;
    padding: 0;
    margin: 0; }
    .main-navigation ul li {
      float: left;
      position: relative; }
      .main-navigation ul li > a {
        display: block;
        color: white;
        padding: 40px 20px; }
      .main-navigation ul li > ul {
        display: none;
        position: absolute;
        min-width: 170px;
        background-color: rgba(0, 0, 0, 0.9);
        font-size: 12px;
        top: 100%;
        z-index: 999; }
        .main-navigation ul li > ul li {
          float: none;
          display: block; }
          .main-navigation ul li > ul li:first-child > a {
            padding-top: 15px; }
          .main-navigation ul li > ul li:last-child > a {
            padding-bottom: 15px; }
          .main-navigation ul li > ul li > a {
            padding: 10px 20px; }
      .main-navigation ul li:hover > a, .main-navigation ul li:focus > a {
        outline-color: transparent;
        color: rgba(255, 255, 255, 0.3); }

.info-content {
  float: right;
  transition: all 250ms ease;
  margin-top: 40px; }
  @media (max-width: 995px) {
    .info-content {
      float: left; } }
  @media (max-width: 767px) {
    .info-content {
      display: none; } }
  .info-content p {
    display: inline-block;
    margin: 0; }
  .info-content .info {
    color: transparent;
    font-size: 0;
    line-height: 0;
    background-image: url("../images/jointhemoment.png");
    background-repeat: no-repeat;
    height: 29px;
    width: 178px;
    display: inline-block;
    position: relative;
    top: -23px; }
  .info-content .link-info {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
    color: white; }
    .info-content .link-info:hover, .info-content .link-info:focus {
      color: rgba(255, 255, 255, 0.7); }

/*  SITE-MAIN's
/* ------------------------------------ */
.site-main {
  position: relative; }
  .site-main .custom-homepage {
    position: relative; }

.page-site {
  position: relative; }
  .page-site .header-section {
    margin-top: 30px;
    margin-bottom: 30px; }
    @media (max-width: 768px) {
      .page-site .header-section {
        margin-left: 30px; } }
  .page-site .title-section {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Brandon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold; }

.custom-homepage-inner,
.custom-page {
  position: relative; }
  @media (min-width: 1250px) {
    .custom-homepage-inner,
    .custom-page {
      max-width: 1400px; } }
  .custom-homepage-inner .item-featured,
  .custom-page .item-featured {
    margin-bottom: 6px;
    overflow: hidden;
    height: 470px; }
    @media (max-width: 994px) {
      .custom-homepage-inner .item-featured,
      .custom-page .item-featured {
        margin-bottom: 0;
        overflow: inherit;
        height: auto; } }
  .custom-homepage-inner .widget-event,
  .custom-page .widget-event {
    margin-bottom: 6px;
    padding-bottom: 0 !important; }
    @media (max-width: 994px) {
      .custom-homepage-inner .widget-event,
      .custom-page .widget-event {
        width: 100% !important; } }
    .custom-homepage-inner .widget-event .box-event,
    .custom-page .widget-event .box-event {
      height: 470px; }
      @media (max-width: 994px) {
        .custom-homepage-inner .widget-event .box-event,
        .custom-page .widget-event .box-event {
          height: auto; } }
  .custom-homepage-inner .widget-ads a,
  .custom-page .widget-ads a {
    height: 232px; }
  .custom-homepage-inner .widget-ads img,
  .custom-page .widget-ads img {
    height: 100%; }
  .custom-homepage-inner .header-section,
  .custom-page .header-section {
    position: relative; }
    @media (max-width: 995px) {
      .custom-homepage-inner .header-section,
      .custom-page .header-section {
        display: none; } }
    .custom-homepage-inner .header-section .title-section,
    .custom-page .header-section .title-section {
      font-family: "BrandonGrotesque", sans-serif;
      font-weight: 600;
      font-style: normal;
      position: absolute;
      margin: 0;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      z-index: 333;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      left: -17%;
      top: 150px;
      padding-bottom: 10px; }
      .custom-homepage-inner .header-section .title-section:before,
      .custom-page .header-section .title-section:before {
        content: "";
        position: absolute;
        height: 40px;
        width: 40px;
        background-color: #fced20;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        z-index: 33;
        top: 90%;
        left: 50%; }
        @media (max-width: 1290px) {
          .custom-homepage-inner .header-section .title-section:before,
          .custom-page .header-section .title-section:before {
            display: none; } }
  .custom-homepage-inner .sidebar,
  .custom-page .sidebar {
    display: block;
    padding-left: 0px;
    padding-right: 0px; }
  .custom-homepage-inner .row,
  .custom-page .row {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .custom-homepage-inner .grid-less,
  .custom-homepage-inner .grid-wide,
  .custom-page .grid-less,
  .custom-page .grid-wide {
    float: left; }
  .custom-homepage-inner .grid-less,
  .custom-page .grid-less {
    width: 7%; }
    @media (max-width: 995px) {
      .custom-homepage-inner .grid-less,
      .custom-page .grid-less {
        width: 0;
        display: none; } }
  .custom-homepage-inner .grid-wide,
  .custom-page .grid-wide {
    width: 93%; }
    @media (max-width: 995px) {
      .custom-homepage-inner .grid-wide,
      .custom-page .grid-wide {
        width: 100%; } }
  .custom-homepage-inner .title-event,
  .custom-page .title-event {
    font-family: "BrandonGrotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position: relative !important;
    text-align: center !important;
    font-size: 14px !important; }
  .custom-homepage-inner .event-info .text,
  .custom-page .event-info .text {
    font-size: 12px !important;
    font-family: "BrandonGrotesque", sans-serif;
    font-weight: 600;
    font-style: normal; }
  .custom-homepage-inner .widget-ads img,
  .custom-page .widget-ads img {
    width: 100% !important; }
  .custom-homepage-inner .featured-lokal-section,
  .custom-page .featured-lokal-section {
    padding: 0 0;
    margin-left: -3px; }
  .custom-homepage-inner .brands-lokal,
  .custom-page .brands-lokal {
    padding: 0 0;
    margin-top: 15px; }

.yellow-line {
  position: relative; }
  .yellow-line .yellow-line-inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fced20;
    min-width: 60px; }

.custom-page .header-section .title-section {
  position: relative;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 0;
  left: 0;
  padding-bottom: 0; }
  .custom-page .header-section .title-section:before {
    display: none; }
.custom-page .primary-event .title-event {
  font-size: 32px !important; }
.custom-page .sidebar-page {
  display: block;
  padding-left: 0;
  padding-right: 0; }
.custom-page .city-wrapper {
  max-width: 860px;
  margin: 0 auto; }
  @media (max-width: 979px) {
    .custom-page .city-wrapper {
      max-width: 660px; } }
  @media (max-width: 767px) {
    .custom-page .city-wrapper {
      max-width: 520px; } }
  @media (max-width: 570px) {
    .custom-page .city-wrapper {
      max-width: 370px; } }
  @media (max-width: 480px) {
    .custom-page .city-wrapper {
      max-width: 300px; } }

@media (max-width: 995px) {
  .sidebar-page {
    margin-top: 30px; } }

/*  ARTICLE's
/* ------------------------------------ */
.blog-articles {
  position: relative; }

article {
  margin-bottom: 30px; }
  article .img-pull-left {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px; }
  article .img-full-width img {
    width: 100%;
    display: block;
    background-color: #d4d4d4; }
  article .header-article .meta-extra {
    color: #090727;
    font-style: italic;
    font-weight: normal;
    font-size: 12px; }
    article .header-article .meta-extra a {
      color: #090727; }
      article .header-article .meta-extra a:hover, article .header-article .meta-extra a:focus {
        color: #181368; }
  article .header-article h2 {
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 26px; }
  article .header-article h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px; }
    article .header-article h3 a {
      color: #090727; }
      article .header-article h3 a:hover, article .header-article h3 a:focus {
        color: #130f52; }

.single-article {
  margin-top: 5px;
  margin-bottom: 60px; }
  .single-article .meta-extra {
    font-size: 14px !important;
    margin-bottom: 10px !important; }
  .single-article .header-article h2 {
    margin-top: 0; }
  .single-article .img-full-width {
    margin-bottom: 30px; }
  .single-article p {
    font-family: "SourceSansPro", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px; }

.blog-article {
  padding-bottom: 15px;
  border-bottom: 1px solid #c8c8c8; }
  @media (max-width: 570px) {
    .blog-article .img-pull-left {
      float: none;
      margin-right: 0;
      text-align: center; } }
  .blog-article .img-pull-left img {
    min-height: 300px; }
    @media (max-width: 570px) {
      .blog-article .img-pull-left img {
        min-height: inherit; } }
  .blog-article .header-article {
    margin-top: 100px; }
    @media (max-width: 570px) {
      .blog-article .header-article {
        margin-top: 30px; } }
  .blog-article p {
    font-size: 16px; }

.small-article {
  margin-bottom: 15px; }
  .small-article .header-article {
    margin-top: 5px;
    margin-bottom: 0; }
    .small-article .header-article h2 {
      margin: 0;
      font-size: 14px;
      text-transform: uppercase; }
      .small-article .header-article h2 a {
        color: #090727; }
        .small-article .header-article h2 a:hover, .small-article .header-article h2 a:focus {
          color: #181368; }

.breadcrumbs {
  text-transform: capitalize;
  margin-left: 15px;
  margin-top: 30px;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  font-style: normal; }
  .breadcrumbs a, .breadcrumbs span, .breadcrumbs i {
    color: #8b8b8b;
    font-size: 14px; }
  .breadcrumbs i {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px; }
  .breadcrumbs a, .breadcrumbs span {
    font-style: italic; }
  .breadcrumbs a:hover, .breadcrumbs a:focus {
    color: #090727; }

.list-share {
  margin: 15px 0; }
  .list-share ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .list-share ul li {
      display: inline-block; }
  .list-share a {
    display: block;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 21px;
    color: white;
    background: #090727;
    margin-right: 5px; }

.article-author {
  margin-top: 30px;
  border-top: 3px solid #090727; }
  .article-author .img-author {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px; }
    .article-author .img-author img {
      height: 120px;
      width: 120px;
      display: block;
      background: #c8c8c8; }
  .article-author .header-author {
    margin-top: 20px;
    margin-bottom: 10px; }
    .article-author .header-author span {
      display: inline-block;
      font-style: italic; }
    .article-author .header-author h4 {
      display: inline-block;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      margin-left: 5px;
      position: relative;
      top: 1px; }
  .article-author .desc-author {
    font-family: "SourceSansPro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    font-style: italic;
    font-weight: normal; }

/*  HOMEPAGE's
/* ------------------------------------ */
.homepage-carousel .item {
  position: relative; }
  .homepage-carousel .item img {
    width: 100%;
    position: relative;
    margin-bottom: -2px; }
.homepage-carousel .item-information {
  background-color: #090727;
  padding: 20px 0; }
  .homepage-carousel .item-information .title-information {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 32px;
    padding: 10px 0;
    font-family: "Brandon", sans-serif;
    font-weight: 400;
    font-style: normal; }
    @media (max-width: 570px) {
      .homepage-carousel .item-information .title-information {
        font-size: 21px; } }
.homepage-carousel .owl-controls {
  position: relative; }
.homepage-carousel .owl-nav {
  position: absolute;
  width: 100%;
  margin-top: -30%; }
  @media (max-width: 570px) {
    .homepage-carousel .owl-nav {
      display: none !important; } }
  .homepage-carousel .owl-nav .owl-prev,
  .homepage-carousel .owl-nav .owl-next {
    display: inline-block;
    font-size: 32px;
    background-color: #eeeeee;
    padding: 15px 8px;
    color: #090727;
    position: absolute;
    transition: all 250ms ease; }
    .homepage-carousel .owl-nav .owl-prev:hover, .homepage-carousel .owl-nav .owl-prev:focus,
    .homepage-carousel .owl-nav .owl-next:hover,
    .homepage-carousel .owl-nav .owl-next:focus {
      opacity: .65; }
  .homepage-carousel .owl-nav .owl-prev {
    left: 10%; }
  .homepage-carousel .owl-nav .owl-next {
    right: 10%; }
.homepage-carousel .owl-dots {
  position: absolute;
  width: 100%;
  right: 10%;
  text-align: right; }
  .homepage-carousel .owl-dots .owl-dot {
    margin: 0 5px;
    background-color: rgba(9, 7, 39, 0.35);
    border-radius: 0;
    height: 5px;
    width: 30px;
    transition: all 350ms ease;
    display: inline-block;
    position: relative;
    top: -160px; }
    @media (max-width: 850px) {
      .homepage-carousel .owl-dots .owl-dot {
        top: -90px; } }
    .homepage-carousel .owl-dots .owl-dot.active {
      background-color: #fced20; }
.homepage-carousel .arrow-left,
.homepage-carousel .arrow-right {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  width: 28px;
  height: 60px; }
.homepage-carousel .arrow-left {
  background-image: url("../images/icon/arrowleft.png"); }
.homepage-carousel .arrow-right {
  background-image: url("../images/icon/arrowright.png"); }

/*  INFORMATION's
/* ------------------------------------ */
#information {
  background-color: #090727; }

/*  SEARCH-ADVANCE-SECTION's
/* ------------------------------------ */
.search-advance-section {
  position: relative;
  width: 100%;
  padding: 15px 30px; }
  .search-advance-section .title-section {
    font-family: "Brandon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    line-height: 39px;
    height: 39px;
    float: left;
    width: 20%;
    margin: 5px 0 0; }
    @media (max-width: 995px) {
      .search-advance-section .title-section {
        width: 100%;
        margin-bottom: 20px;
        float: none;
        text-align: center; } }
    .search-advance-section .title-section img {
      margin-right: 10px;
      position: relative;
      top: -5px; }
  .search-advance-section .form-search-advance {
    float: left;
    width: 80%;
    margin-top: 0; }
    @media (max-width: 995px) {
      .search-advance-section .form-search-advance {
        width: 100%; } }

/*  FEATURED's
/* ------------------------------------ */
.item-featured {
  position: relative;
  padding: 0 3px 6px !important; }
  @media (max-width: 768px) {
    .item-featured {
      padding: 0 30px 30px !important; } }
  .item-featured .inner-featured {
    position: relative;
    display: block; }
  .item-featured .img-featured {
    width: 100%;
    display: block;
    transition: all 350ms ease; }
  .item-featured .desc-featured {
    background-color: #090727;
    padding: 20px;
    display: block;
    height: 100vh; }
    @media (max-width: 994px) {
      .item-featured .desc-featured {
        height: auto; } }
    .item-featured .desc-featured h3 {
      margin: 0 0 10px;
      font-size: 15px;
      font-family: "Brandon", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-weight: bold;
      color: white;
      text-transform: uppercase; }
    .item-featured .desc-featured p {
      font-family: "SourceSansPro", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      font-size: 16px;
      margin-bottom: 20px; }
    .item-featured .desc-featured .more {
      font-family: "SourceSansPro", sans-serif;
      font-weight: 400;
      font-style: normal;
      float: right;
      font-style: italic;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 10px;
      color: white; }
      .item-featured .desc-featured .more i {
        margin-left: 5px; }
      .item-featured .desc-featured .more:hover, .item-featured .desc-featured .more:focus {
        color: rgba(255, 255, 255, 0.35); }

/*  CONTACT's
/* ------------------------------------ */
.form-contact {
  position: relative; }

.header-contact {
  line-height: 1.5;
  margin-bottom: 30px; }
  .header-contact h3 {
    text-transform: uppercase;
    font-family: "BrandonGrotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    float: left;
    margin: 0;
    margin-right: 15px; }
    .header-contact h3 span {
      font-size: 27px; }
  .header-contact p {
    font-family: "BrandonGrotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 11px;
    margin: 10px 0 0;
    color: #090727;
    font-weight: bold; }

/*  BRANDS
/* ------------------------------------ */
.item-brand {
  border-right: 1px solid white; }
  .item-brand .inner-brand {
    position: relative; }
    .item-brand .inner-brand:hover img, .item-brand .inner-brand:focus img {
      -webkit-transform: scale(1.1), rotateX(30deg);
              transform: scale(1.1), rotateX(30deg); }
    .item-brand .inner-brand img {
      display: block;
      transition: all 350ms ease; }
  .item-brand .desc-brand {
    position: relative;
    width: 100%;
    background-color: #090727;
    padding: 10px 15px;
    text-align: center; }
    .item-brand .desc-brand h3 {
      margin: 0;
      color: white;
      text-transform: uppercase;
      font-size: 16px; }

.brand-carousel .owl-controls {
  position: absolute;
  top: 0px;
  right: 0;
  overflow: hidden;
  height: 100%; }
.brand-carousel .owl-nav .owl-next {
  background-color: #fced20;
  transition: all 250ms ease; }
  .brand-carousel .owl-nav .owl-next:hover, .brand-carousel .owl-nav .owl-next:focus {
    opacity: .65; }
.brand-carousel .owl-nav .owl-next {
  width: 8vh;
  height: 100vh;
  text-align: center; }
.brand-carousel .owl-dots {
  display: none !important; }
.brand-carousel .arrow-left {
  display: none !important; }
.brand-carousel .arrow-right {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  width: 28px;
  height: 60px;
  right: 10px;
  top: 20%;
  left: 5px; }
  @media (min-width: 1200px) {
    .brand-carousel .arrow-right {
      top: 15%; } }
.brand-carousel .arrow-right {
  background-image: url("../images/icon/arrowright.png"); }

/*  SEARCH-ADVANCE
/* ------------------------------------ */
/*  WIDGET's
/* ------------------------------------ */
.widget {
  position: relative;
  padding: 0 3px 6px !important; }
  @media (max-width: 994px) {
    .widget {
      float: left;
      width: 50%; } }
  @media (max-width: 480px) {
    .widget {
      width: 100%; } }
  .widget .title-widget {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #090727; }

.box-event {
  position: relative;
  overflow: hidden;
  text-align: right;
  background-color: white; }
  .box-event .title-event {
    position: absolute;
    top: 0;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    color: white;
    margin: 0;
    padding: 0 15px;
    background: #090727;
    width: 100%;
    height: 40px;
    line-height: 40px; }
    .box-event .title-event .more {
      font-size: 9px;
      float: right;
      font-style: italic;
      display: inline-block;
      border-bottom: 1px solid white;
      color: white;
      line-height: 1.2;
      padding-top: 15px; }
      .box-event .title-event .more:hover, .box-event .title-event .more:focus {
        color: rgba(255, 255, 255, 0.4);
        border-bottom-color: rgba(255, 255, 255, 0.4); }
  .box-event .event-info {
    position: absolute;
    bottom: 0;
    display: block;
    text-transform: uppercase;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    z-index: 11; }
    .box-event .event-info .indicate {
      float: left;
      width: 20%;
      background-color: #fced20;
      font-size: 16px;
      color: black;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      text-align: center; }
    .box-event .event-info .text {
      text-align: center;
      padding: 0px 10px;
      font-size: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 80%;
      float: left;
      color: white;
      background-color: #090727; }

@media (max-width: 480px) {
  .widget-ads {
    text-align: center; } }
.widget-ads a {
  display: block; }
  @media (max-width: 480px) {
    .widget-ads a {
      display: inline-block;
      margin: 0 auto; } }
  .widget-ads a:hover, .widget-ads a:focus {
    opacity: .6; }
  .widget-ads a img {
    display: block;
    transition: all 250ms ease; }

@media (max-width: 995px) {
  .widget-related-articles {
    width: 100%; } }
@media (max-width: 995px) {
  .widget-related-articles .small-article {
    float: left;
    width: 49%;
    margin-right: 1%;
    margin-bottom: 30px; } }
@media (max-width: 480px) {
  .widget-related-articles .small-article {
    width: 100%; } }
.widget-related-articles .list-articles {
  list-style: none outside none;
  margin: 0;
  padding: 0; }

/*  BOX-INFORAMTION's
/* ------------------------------------ */
.box-information {
  position: relative;
  margin-top: 60px;
  text-align: center; }
  .box-information .title-info-information {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: "BrandonGrotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    font-weight: bold; }
  .box-information .join {
    position: relative;
    width: 480px;
    height: 77px;
    background-image: url("../images/joinbig.png");
    background-repeat: no-repeat;
    display: inline-block;
    top: -20px; }
    @media (max-width: 995px) {
      .box-information .join {
        display: block;
        margin: 0 auto; } }
    @media (max-width: 480px) {
      .box-information .join {
        display: none; } }
  .box-information .more {
    text-transform: uppercase;
    display: inline-block;
    padding: 0;
    border-bottom: 1px solid #090727;
    color: #090727;
    font-family: "BrandonGrotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
    letter-spacing: 2px;
    top: -10px; }
    @media (max-width: 480px) {
      .box-information .more {
        margin-top: 30px; } }
    .box-information .more:hover, .box-information .more:focus {
      color: #1d177d;
      border-bottom-color: #1d177d; }

/*  SITE-FOOTER's
/* ------------------------------------ */
.copyright {
  margin-bottom: 30px;
  font-family: "Brandon", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  color: #090727; }
  .copyright a {
    color: #090727; }
    .copyright a:hover, .copyright a:focus {
      color: #090727; }

.nav-footer {
  text-align: left;
  font-family: "BrandonGrotesque", sans-serif;
  font-weight: 600;
  font-style: normal; }
  @media (max-width: 995px) {
    .nav-footer {
      text-align: center; } }
  .nav-footer ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
  .nav-footer li {
    display: block;
    float: left;
    position: relative; }
    @media (max-width: 570px) {
      .nav-footer li {
        float: none; } }
    .nav-footer li:first-child > span, .nav-footer li:first-child a {
      margin-left: 0;
      padding-left: 0; }
    .nav-footer li:last-child > span, .nav-footer li:last-child a {
      margin-right: 0;
      padding-right: 0; }
    .nav-footer li > span, .nav-footer li a {
      display: block;
      color: #090727;
      padding: 5px 3px;
      margin: 0 10px;
      text-transform: uppercase;
      font-weight: bold; }
      @media (max-width: 570px) {
        .nav-footer li > span, .nav-footer li a {
          margin: 0; } }
    .nav-footer li > a:hover, .nav-footer li > a:focus {
      opacity: .35; }
    .nav-footer li > span {
      display: inline-block;
      position: relative;
      top: -3px; }
  .nav-footer .box-socmed {
    display: inline-block; }
    @media (max-width: 570px) {
      .nav-footer .box-socmed {
        display: block; } }
    .nav-footer .box-socmed a {
      margin-left: 0;
      display: inline-block;
      position: relative;
      top: -4px; }
      .nav-footer .box-socmed a:hover, .nav-footer .box-socmed a:focus {
        opacity: .35; }

/*  SECTION-CAREER's
/* ------------------------------------ */
.section-career .container {
  max-width: 960px; }
.section-career .header-section {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px; }
.section-career .title-section {
  margin: 0 0 15px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: white; }
  @media (max-width: 570px) {
    .section-career .title-section {
      font-size: 24px; } }
.section-career .subtitle {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: white;
  margin: 0; }
  @media (max-width: 570px) {
    .section-career .subtitle {
      font-size: 14px; } }

.item-career {
  text-align: center;
  position: relative;
  margin-bottom: 30px; }
  .item-career .title-career {
    margin-top: 0;
    font-family: "Brandon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase; }
    @media (max-width: 570px) {
      .item-career .title-career {
        font-size: 16px; } }
  .item-career p {
    font-family: "SourceSansPro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: white; }
    @media (max-width: 570px) {
      .item-career p {
        font-size: 12px; } }

.btn-email-career {
  padding: 1em 2em .5em;
  vertical-align: bottom;
  position: relative; }
  .btn-email-career img {
    margin-left: 5px;
    position: relative;
    top: -0.2em; }

/*  BANNER
/* ------------------------------------ */
.section-bg-inner {
  position: relative;
  padding: 0 !important; }
  .section-bg-inner img {
    width: 100%; }

.section-bg {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.banner-caption {
  padding: 15% 0 5%;
  position: relative; }

.caption-content {
  margin: 0 0 15px;
  font-size: 18px;
  color: white;
  line-height: 1.4;
  font-weight: normal;
  font-family: "Brandon", sans-serif;
  font-weight: 400;
  font-style: normal; }

.caption-author {
  margin: 0;
  font-size: 21px;
  font-family: "Brandon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-weight: normal;
  position: relative;
  display: inline-block;
  text-transform: capitalize; }
  .caption-author:before, .caption-author:after {
    content: "-";
    position: absolute;
    top: 10%; }
  .caption-author:before {
    left: -10px; }
  .caption-author:after {
    right: -10px; }

.banner-caption-inner {
  position: relative; }
  .banner-caption-inner.in-right-bottom {
    max-width: 460px;
    margin-left: 60%;
    margin-top: 15%; }
    @media (max-width: 570px) {
      .banner-caption-inner.in-right-bottom {
        margin-left: 0; } }
    .banner-caption-inner.in-right-bottom .caption-author {
      text-align: right;
      float: right; }
  .banner-caption-inner.in-left-bottom {
    text-transform: uppercase;
    max-width: 500px;
    margin-left: 0;
    margin-top: 5%;
    margin-bottom: 10%; }
    @media (max-width: 570px) {
      .banner-caption-inner.in-left-bottom {
        max-width: inherit;
        margin-top: 18%; } }
    .banner-caption-inner.in-left-bottom .small-text {
      font-size: 36px;
      color: #8c3014; }
      @media (max-width: 570px) {
        .banner-caption-inner.in-left-bottom .small-text {
          font-size: 16px; } }
      .banner-caption-inner.in-left-bottom .small-text span {
        font-size: 75px; }
        @media (max-width: 570px) {
          .banner-caption-inner.in-left-bottom .small-text span {
            font-size: 34px; } }
    .banner-caption-inner.in-left-bottom p {
      color: #8c3014;
      font-family: "SourceSansPro", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 19px;
      color: black;
      text-transform: none; }
      @media (max-width: 570px) {
        .banner-caption-inner.in-left-bottom p {
          font-size: 14px; } }

/*  EVENTS
/* ------------------------------------ */
.primary-event {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px; }
  .primary-event .title-event {
    font-family: "BrandonGrotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px; }
    @media (max-width: 570px) {
      .primary-event .title-event {
        font-size: 24px; } }
  .primary-event ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
    .primary-event ul li {
      display: inline-block;
      padding-bottom: 15px;
      margin-left: -4px;
      border-bottom: 4px solid #090727; }
      @media (max-width: 570px) {
        .primary-event ul li {
          border-bottom-width: 2px;
          padding-bottom: 8px;
          padding-top: 8px; } }
      .primary-event ul li:first-child {
        margin-left: 0; }
      .primary-event ul li:hover a, .primary-event ul li:focus a, .primary-event ul li.active a {
        background: #fced20; }
    .primary-event ul a {
      display: block;
      font-family: "BrandonGrotesque", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 24px;
      padding: .3em .8em;
      background-color: transparent;
      text-transform: uppercase;
      color: black; }
      @media (max-width: 570px) {
        .primary-event ul a {
          font-size: 14px; } }

.secondary-event {
  width: 100%;
  background-color: #e3e3e3;
  margin: 30px 0;
  padding: 1em 0;
  text-align: center; }
  .secondary-event ul {
    list-style: none outside none;
    margin: 0;
    padding: 0; }
  .secondary-event li {
    display: inline-block;
    margin-left: -4px; }
    .secondary-event li:first-child {
      margin-left: 0; }
    .secondary-event li:hover a, .secondary-event li:focus a, .secondary-event li.active a {
      border-color: black; }
  .secondary-event a {
    display: block;
    background: transparent;
    font-size: 16px;
    padding: .3em .8em;
    font-family: "BrandonGrotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    border: 2px solid transparent;
    color: black;
    margin: 0 10px; }
    @media (max-width: 570px) {
      .secondary-event a {
        display: inline-block; } }

.item-event {
  position: relative;
  margin-bottom: 30px;
  min-height: 505px; }

.item-event-inner .img-event {
  position: relative; }
  .item-event-inner .img-event img {
    width: 100%;
    position: relative; }
.item-event-inner .date-event {
  position: absolute;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: black;
  padding: .3em .6em;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fced20; }
.item-event-inner .desc-event {
  background-color: #090727;
  padding: 1.5em 1em; }
.item-event-inner .title-event {
  font-family: "BrandonGrotesque", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  color: white;
  margin: 0 0 15px; }
.item-event-inner p {
  color: white;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px; }
.item-event-inner .more {
  color: white;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  float: right;
  text-transform: uppercase;
  font-style: italic;
  border-bottom: 1px solid white; }
  .item-event-inner .more:hover, .item-event-inner .more:focus {
    opacity: .8; }

.btn-event {
  padding: 1em 1em; }

/*  SECTION JOIN
/* ------------------------------------ */
.section-join .container {
  max-width: 960px; }
.section-join .join {
  position: relative;
  width: 480px;
  height: 77px;
  background-image: url("../images/joinbig.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 20px; }
  @media (max-width: 570px) {
    .section-join .join {
      background-image: none;
      margin-bottom: 0;
      width: auto;
      height: auto; } }
.section-join .text-uppercase {
  font-weight: bold;
  max-width: 550px;
  margin: 0 auto 30px; }
  @media (max-width: 570px) {
    .section-join .text-uppercase {
      font-size: 10px; } }
.section-join .bg-blue .header-section {
  text-align: center;
  margin-bottom: 30px; }
  @media (max-width: 570px) {
    .section-join .bg-blue .header-section {
      margin-bottom: 15px; } }
  .section-join .bg-blue .header-section h2, .section-join .bg-blue .header-section .subtitle {
    color: white; }
  .section-join .bg-blue .header-section h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 30px; }
    @media (max-width: 570px) {
      .section-join .bg-blue .header-section h2 {
        font-size: 18px; } }
  .section-join .bg-blue .header-section .subtitle {
    font-family: "SourceSansPro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
    font-size: 20px;
    max-width: 650px;
    margin: 0 auto; }
    @media (max-width: 570px) {
      .section-join .bg-blue .header-section .subtitle {
        font-size: 14px; } }
.section-join .bg-blue p {
  color: white; }
.section-join .subsection-box {
  padding: 30px;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px; }
  @media (max-width: 570px) {
    .section-join .subsection-box {
      font-size: 13px; } }
.section-join .list-keuntungan {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
  .section-join .list-keuntungan li {
    position: relative; }
    .section-join .list-keuntungan li:before {
      content: "\f111";
      font-family: "FontAwesome";
      font-size: 6px;
      top: 10px;
      color: white;
      position: absolute; }
    .section-join .list-keuntungan li p {
      padding-left: 15px; }
.section-join .title-page {
  text-align: center;
  font-family: "BrandonGrotesque", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.4; }
  @media (max-width: 570px) {
    .section-join .title-page {
      font-size: 14px; } }

.join-arrow-container {
  text-align: center; }
  .join-arrow-container .btn-lb {
    padding: 1em 1.5em; }
  .join-arrow-container .icon-arrow-bottom {
    position: relative;
    display: inline-block;
    margin: 15px auto;
    background-image: url("../images/icon/arrowbottom.png");
    background-repeat: no-repeat;
    height: 36px;
    width: 66px; }

/*  SECTION BRAND-DETAIL
/* ------------------------------------ */
.section-brand-detail .container {
  max-width: 960px; }
.section-brand-detail .subsection-box {
  padding: 30px; }
.section-brand-detail .ayunan {
  display: inline-block;
  position: relative;
  background-image: url("../images/ayunan.png");
  background-repeat: no-repeat;
  width: 244px;
  height: 144px; }
.section-brand-detail .title-page {
  font-family: "BrandonGrotesque", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
  margin: 15px 0; }
.section-brand-detail p {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px; }
.section-brand-detail .img-offset-section {
  position: relative;
  display: block;
  text-align: center;
  margin: -30px auto 0; }
@media (max-width: 995px) {
  .section-brand-detail .helper-center {
    text-align: center; } }

.list-how-tobuy {
  margin-top: 15px;
  text-align: center; }
  .list-how-tobuy .title-list {
    margin: 0 0 15px;
    font-family: "BrandonGrotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center; }
  .list-how-tobuy ul {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0; }
    .list-how-tobuy ul li {
      display: inline-block;
      vertical-align: top; }
      .list-how-tobuy ul li:last-child a {
        margin-right: 0; }
    .list-how-tobuy ul a {
      display: block;
      margin-right: 10px;
      max-width: 75px;
      font-family: "BrandonGrotesque", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 11px;
      text-transform: uppercase;
      color: black;
      text-align: center; }
      .list-how-tobuy ul a:hover, .list-how-tobuy ul a:focus, .list-how-tobuy ul a.active {
        opacity: .35; }
  .list-how-tobuy .icon {
    height: 55px;
    width: 55px;
    display: inline-block;
    background-repeat: no-repeat; }
    .list-how-tobuy .icon-website {
      background-image: url("../images/icon/web.png"); }
    .list-how-tobuy .icon-phone {
      background-image: url("../images/icon/phone.png"); }
    .list-how-tobuy .icon-email {
      background-image: url("../images/icon/envelope.png"); }
    .list-how-tobuy .icon-store {
      background-image: url("../images/icon/store.png"); }

.item-detail-brands {
  position: relative; }
  .item-detail-brands.item-detail-big a {
    width: 100%; }
    .item-detail-brands.item-detail-big a img {
      height: 420px;
      width: 100%; }
      @media (max-width: 767px) {
        .item-detail-brands.item-detail-big a img {
          height: auto; } }
  .item-detail-brands.item-detail-small a {
    width: 100%; }
    .item-detail-brands.item-detail-small a img {
      width: 100%;
      height: 210px; }
      @media (max-width: 767px) {
        .item-detail-brands.item-detail-small a img {
          height: auto; } }
  .item-detail-brands a {
    display: block;
    overflow: hidden; }
  .item-detail-brands img {
    transition: all 750ms ease; }
    @media (max-width: 768px) {
      .item-detail-brands img {
        width: 100%; } }
  .item-detail-brands .subitem-detail-brands {
    position: relative; }

.section-item-brands .text-info.pull-left {
  margin-left: 30px; }
.section-item-brands .text-info.pull-right {
  margin-right: 30px; }
.section-item-brands .text-info .title-info {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "BrandonGrotesque", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase; }
.section-item-brands .text-info .text-uppercase {
  text-transform: uppercase;
  font-family: "BrandonGrotesque", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  color: black; }
  .section-item-brands .text-info .text-uppercase a {
    color: black; }
    .section-item-brands .text-info .text-uppercase a:hover, .section-item-brands .text-info .text-uppercase a:focus {
      opacity: .3; }
.section-item-brands .list-socmed {
  text-align: left;
  margin: 0 0 10px;
  padding: 0;
  list-style: none outside none; }
  .section-item-brands .list-socmed li {
    display: inline-block;
    position: relative;
    margin-right: 10px; }
    .section-item-brands .list-socmed li:last-child {
      margin-right: 0; }
  .section-item-brands .list-socmed a {
    display: block; }
    .section-item-brands .list-socmed a:hover, .section-item-brands .list-socmed a:focus {
      opacity: .3; }
  .section-item-brands .list-socmed .icon {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px; }
    .section-item-brands .list-socmed .icon-facebook {
      background-image: url("../images/icon/facebook.png"); }
    .section-item-brands .list-socmed .icon-instagram {
      background-image: url("../images/icon/instagram.png"); }
    .section-item-brands .list-socmed .icon-twitter {
      background-image: url("../images/icon/twitter.png"); }

.link-info-blue {
  text-transform: uppercase;
  font-family: "BrandonGrotesque", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  color: #3126d4; }
  .link-info-blue:hover, .link-info-blue:focus {
    opacity: .3; }

/*  RWD HANDLERS
/* ------------------------------------ */
.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .wrapper .wrapper-inner {
    transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
    position: relative;
    width: 100%;
    display: block;
    margin-right: 0;
    float: right; }
  .wrapper .on-active-left {
    margin-right: -40%; }
    .wrapper .on-active-left .mask-wrapper {
      opacity: 1;
      z-index: 11; }
    @media (max-width: 570px) {
      .wrapper .on-active-left {
        margin-right: -60%; } }

.nav-sidebar {
  width: 40%;
  z-index: 999;
  background-color: black;
  position: fixed;
  height: 100%;
  transition: all 500ms ease;
  padding: 15px 0 30px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll; }
  @media (max-width: 570px) {
    .nav-sidebar {
      width: 60%; } }
  .nav-sidebar .nav-sidebar {
    margin-top: 50px; }
  .nav-sidebar ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    margin-top: 30px; }
    .nav-sidebar ul li a, .nav-sidebar ul li span {
      color: white;
      font-family: "BrandonGrotesque", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 12px;
      text-transform: uppercase;
      padding: 10px 15px;
      display: block;
      font-weight: 600; }
    .nav-sidebar ul li a:hover, .nav-sidebar ul li a:focus {
      background-color: #262626;
      color: white;
      outline-color: transparent; }

.nav-sidebar {
  margin-left: -40%; }
  .nav-sidebar .btn-hide {
    margin-left: 30px; }
  @media (max-width: 570px) {
    .nav-sidebar {
      margin-left: -60%; } }
  .nav-sidebar.on-active {
    margin-left: 0; }
  .nav-sidebar ul li a, .nav-sidebar ul li span {
    padding-left: 30px; }
