/* ------------------------------------------------------------------------- *
 *  THIS IS MAIN (SASS) FILE
/* ------------------------------------------------------------------------- */ 
/*  VARIABLE's
/* ------------------------------------ */
$color-yellow: #fced20;
$color-blue-dark: #090727;
$color-bg-gray: #eeeeee;

$color-text-gray: #8b8b8b;


/*  TYPOGRAPHY's
/* ------------------------------------ */

/* Fool-proof @font-face */
/* Based on http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/ */
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
	@font-face {
		font-family: $font-family;
			src: url('#{$file-path}.eot');
			src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),url('#{$file-path}.woff') format('woff'),
				url('#{$file-path}.ttf') format('truetype'),
				url('#{$file-path}.svg##{$font-family}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	}

	// Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-family;
			src: url('#{$file-path}.svg##{$font-family}') format('svg');
		}
	}
}

// INSTALLING FONTS
@include font-face(Brandon, '../fonts/brandon_re-webfont', 400, normal);
@include font-face(BrandonGrotesque, '../fonts/brandon_grotesque_bold-webfont', 600, normal);
@include font-face(SourceSansPro, '../fonts/sourcesanspro-regular-webfont', 400, normal);

@mixin Brandon{
	font-family: "Brandon", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin Brandon-Grotesque{
	font-family: "BrandonGrotesque", sans-serif;
	font-weight: 600;
	font-style: normal;
}

@mixin SourceSansPro{
	font-family: "SourceSansPro", sans-serif;
	font-weight: 400;
	font-style: normal;
}


/*  GENERAL
/* ------------------------------------ */
html, body{
	height: 100;
}

body{
	@include Brandon();
	font-size: 14px;
	background-color: $color-bg-gray;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
	transition: all .35s ease-out;
	&:hover, &:focus{
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6{
	@include Brandon-Grotesque;
	color: $color-blue-dark;
	font-weight: bold;
}

.padd-less{
	padding-left: 6px !important;
}

.bg-white{
	background: white;
}

.bg-blue{
	background: rgba( $color-blue-dark, .88 );
}

::-webkit-input-placeholder {
	@include Brandon;
	font-size: 11px;
	color: $color-text-gray;
	text-transform: uppercase;
	font-weight: bold;
}

:-moz-placeholder { /* Firefox 18- */
	@include Brandon;
	font-size: 11px;
	color: $color-text-gray;
	text-transform: uppercase;
	font-weight: bold;
}

::-moz-placeholder {  /* Firefox 19+ */
	@include Brandon;
	font-size: 11px;
	color: $color-text-gray;
	text-transform: uppercase;
	font-weight: bold;
}

:-ms-input-placeholder {  
	@include Brandon;
	font-size: 11px;
	color: $color-text-gray;
	text-transform: uppercase;
	font-weight: bold;
}

.section-small-box{
	padding: 20px 0;
}

.section-box{
	padding: 40px 30px;
}

.section-box-floating{
	position: relative;
	margin-top: -10%;
	z-index: 1;
	@media (max-width: 480px) {
	    margin-top: 0;
	}
}

.nomarg{
	margin-left: 0;
	margin-right: 0;
}

.nopadd{
	padding-left: 0;
	padding-right: 0;
}

$spacer:
	( space15, 15px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

// SOCMED-COLOR-HOVER
$socmedhover:
	( share-facebook, #3b5998 ),
	( share-twitter, #0084b4 ),
	( share-google-plus, #d34836 ),
	( share-instagram, #517fa4 ),
	( share-pinterest, #cb2027 ),
	( share-linkedin, #007bb6 ),
	( share-youtube, #bb0000 ),
	( share-tumblr, #32506d ),
	( share-flickr, #ff0084),
	( share-vimeo, #aad450 ),
	( share-more, #FC6D4B ),
	( share-google, #0072b1 );

@each $sosicon-class, $color-socmed in $socmedhover {
	.#{$sosicon-class}{
		background-color: $color-socmed !important;
		&:hover{
			background: darken( $color-socmed, 10% ) !important;
		}
		&:focus{
			background: darken( $color-socmed, 20% ) !important;
		}
	}
}

// POPUP
.popup_content{
	transform: scale(0.8);
	padding: 60px 30px 30px;
	min-height: 30px;
	background-color: $color-bg-gray;
	border: 1px solid darken( $color-bg-gray , 10% );
}

.popup_visible{
	.popup_content{
		max-width: 650px;
		transform: scale(1);
		@media (max-width: 767px) {
		    max-width: 550px;
		}
		@media (max-width: 570px) {
		    // width: 100%;
		    max-width: 300px;
		    margin: 0 30px;
		    padding: 40px 15px 15px;
		}
	}
	.menu-tanggal{
		overflow-y: scroll;
		max-height: 100px;
	}
	.lp_popup_close{
		border: none;
		background-color: lighten( $color-blue-dark, 20% );
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		display: block;
		position: absolute;
		top: -1px;
		right: -1px;
		color: white;
		&:hover,
		&:focus{
			background-color: $color-blue-dark;
		}
	}
}


/*  BUTTON's
/* ------------------------------------ */
.btn-lb{
	display: inline-block;
	padding: 8px 18px;
	text-transform: uppercase;
	font-weight: bold;
	&:hover,
	&:focus{
		outline-color: transparent;
	}
}

.btn-blue-dark{
	color: white;
	background-color: $color-blue-dark;
	&:hover,
	&:focus{
		color: white;
		background-color: lighten( $color-blue-dark, 15% );
	}
}

.btn-gray{
	background-color: #e8e8e8;
	color: #636363;
	&:hover,
	&:focus{
		color: #636363;
		background: darken( #e8e8e8, 10% );
	}
}

.btn-full-width{
	width: 100%;
	text-align: center;
}

.btn-line{
	background-color: transparent;
	border: 2px solid transparent;
}

.btn-line-white{
	border-color: white;
	color: white;
	&:hover,
	&:focus{
		color: white;
		opacity: .35;
	}
}

.btn-radius{
	border-radius: 22px;
}


.btn-combo{
	width: 100%;
	padding: 1em;
	border: 1px solid rgba( $color-blue-dark, .7 );
	background: transparent;
	position: relative;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	color: $color-text-gray;
	.caret{
		position: absolute;
		right: 0;
	}
}

.btn-l{
	padding: 14px 28px;
}

.btn-hide{
	height: 38px;
	width: 38px;
	line-height: 38px;
	border-radius: 50%;
	text-align: center;
	background-color: white;
	color: black;
	display: inline-block;
	&:hover,
	&:focus{
		color: black;
		opacity: .6;
		outline-color: transparent;
	}
}

.group-combo{
	display: block;
	.dropdown-menu{
		width: 100%;
		border-radius: 0;
		padding: 0;
		z-index: 33 !important;
		>li{
			>a{
				padding: 5px 20px;
				&:hover, &:focus{
					background-color: $color-bg-gray;
				}
			}
		}
	}
}

.btn-rwd-main{
	display: none;
	@media (max-width: 995px) {
	    display: block;
	}
	background-color: white;
	position: relative;
	// font-family: $roboto;
	float: right;
	border-radius: 50%;
	height: 38px;
	line-height: 38px;
	width: 38px;
	text-align: center;
	font-size: 600;
	// color: $color-;
	// padding: 0 15px;
	cursor: pointer;
	&:hover,
	&:focus,
	&.active{
		background-color: rgba( white, .6 );
		outline-color: transparent;
		// color: $color-text-top-header;
		.bars{
			// background-color: transparent;
			// transform: rotateZ(90deg);
			// &:before{
			// 	transform: rotateZ(45deg);
			// 	top: 0px;
			// }
			// &:after{
			// 	bottom: 0px;
			// 	transform: rotateZ(-45deg);
			// }
		}
	}
	.bars{
		position: relative;
		width: 15px;
		height: 2px;
		background-color: black;
		display: inline-block;
		top: -4px;
		// margin-right: 3px;
		// overflow: hidden;
		transition: background 150ms ease-out, transform 150ms ease-out;
		&:before, &:after{
			width: 15px;
			height: 2px;
			background-color: black;
			position: absolute;
			content: "";
			transition: transform 200ms ease-out;
			left: 0;
		}
		&:before{
			top: 4px;
		}
		&:after{
			bottom: 4px;
		}
	}
}


/*  FORM's
/* ------------------------------------ */
input[type="text"], 
input[type="email"], 
input[type="website"], 
input[type="search"],
textarea{
	width: 100%;
	padding: 1em;
	border: 1px solid rgba( $color-blue-dark, .7 );
	background: transparent;
}

.form-contact{
	.field-box{
		padding: 7px;
		margin-bottom: 5px;
	}
	.btn-lb{
		width: 100%;
		border: 1px solid $color-blue-dark;
		padding: 1em;
		transition: all 350ms ease;
	}
	.btn-combo{
		padding: 1em;
		width: 100%;
		color: lighten( $color-text-gray, 10% );
		@include Brandon-Grotesque;
		&:hover, &:focus{
			color: $color-text-gray;
		}
		.caret{
			right: 1em;
			top: 1.5em;
		}
	}
	.group-combo{
		.dropdown-menu{
			top: 96%;
			> li {
				>a{
					padding: 8px 20px;
				}
			}
		}
	}
	input,
	.btn-lb,
	.btn-combo{
		height: 42px;
		line-height: 16px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.btn-combo{
		line-height: 42px;
	}
}

.form-search-advance{
	position: relative;
	margin-top: 20px;
	@media (max-width: 920px) {
		text-align: center;
	}
	form{
		position: relative;
	}
	input,
	.btn-combo,
	.btn-lb{
		padding: 1em;
		height: 50px;
		line-height: 50px;
		font-size: 16px;
		@include Brandon;
	}
	.btn-combo,
	.btn-lb{
		padding: 0 1em;
		font-size: 14px;
		font-weight: 500;
	}
	.btn-combo{
		.caret{
			margin-top: 1.6em;
			margin-right: 1em;
		}
	}
	input[type="text"]{
		width: 40%;
		float: left;
		margin-right: 15px;
	}
	.group-combo{
		width: 20%;
		float: left;
		margin-right: 15px;
	}
	input[type="text"]{
		@media (max-width: 920px) {
			margin-bottom: 20px;
			width: 100%;	
			text-align: left;	    
		}
	}
	.group-combo{
		@media (max-width: 920px) {
			margin-bottom: 20px;
			width: 49%;
			margin-right: 0;
			text-align: left;
		}
		.combo-city,
		.menu-city{
			@media (max-width: 920px) {
				margin-left: 4%;
				// position: relative;
			}
		}

	}
	.btn-lb{
		float: right;
		height: inherit;
		padding: .6em 2.5em;
		line-height: inherit;
		margin-top: 8px;
		font-weight: bold;
		font-size: 14px;
		@media (max-width: 920px) {
			float: none;
		}
	}
}

.form-search-articles{
	position: relative;
	margin-bottom: 30px;
	@media (max-width: 995px) {
	    text-align: center;
	}
	.field-shortby{
		position: relative;
		float: left;
		margin-right: 15px;
		@media (max-width: 995px) {
		    // display: block;
		    float: none;
		    text-align: left;
			margin-bottom: 15px;
			margin-right: 0;
			// text-align: center;
		}
	}
	.combo-sortby,
	input,
	.btn-lb{
	    text-align: left;
		height: 42px;
		line-height: 42px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.combo-sortby{
		max-width: 160px;
		min-width: 150px;
		float: none;
		margin-right: 15px;
	    text-align: left;
		@media (max-width: 995px) {
			max-width: inherit;
			width: 100%;
			float: none;
			// float: none;
			// width: 100%;
			// text-align: left;
			// margin: 0 auto;
		}
		.caret{
			right: 10px;
			top: 18px;
		}
	}
	.title-section{
		@include Brandon;
		font-size: 14px !important;
		font-weight: normal;
		float: left;
		margin-right: 15px;
		margin-top: 0px;
		@media (max-width: 995px) {
			float: none;
			text-align: center;
			display: block;
		}
		img{
			margin-right: 10px;
		}
	}
	input{
		max-width: 300px;
		float: left;
		margin-right: 15px;
		@media (max-width: 995px) {
		    max-width: inherit;
		    margin-bottom: 15px;
		}
	}
	.btn-lb{
		padding-left: 1.5em;
		padding-right: 1.5em;
		@media (max-width: 995px) {
		    display: inline-block;
		    text-align: center;
		}
	}
}

.form-gabung-invest{
	max-width: 650px;
	display: block;
	margin: 0 auto;
	.field-box{
		margin-bottom: 15px;
	}
	input,
	.btn-lb,
	.btn-combo{
		height: 42px;
		line-height: 42px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.btn-combo{
		padding: 0 1em;
		width: 100%;
		color: lighten( $color-text-gray, 10% );
		@include Brandon-Grotesque;
		&:hover, &:focus{
			color: $color-text-gray;
		}
		.caret{
			right: 1em;
			top: 1.5em;
		}
	}
	.group-combo{
		.dropdown-menu{
			top: 96%;
			> li {
				>a{
					padding: 8px 20px;
				}
			}
		}
	}
	.btn-lb{
		float: right;
		margin-right: 15px;
	}
}

.form-subscribe-email{
	.title-form{
		@include Brandon-Grotesque;
		font-size: 18px;
		text-transform: uppercase;
		margin-top: 30px;
	}
	.btn-lb{
		padding: 1em 1.5em;
	}
}

/*  SITE-HEADER's
/* ------------------------------------ */
.site-header{
	width: 100%;
	z-index: 999;
	padding: 0px !important;
	position: absolute;
	.header-sticky{
		width: 100%;
		background-color: rgba( black, .9 );
		@media (max-width: 767px) {
		    position: absolute !important;
		}
	}
	.btn-rwd-main{
		float: right;
		margin-top: 30px;
	}
}

.is-sticky{
	.logo-holder{
		a{
			margin-top: 15px;
			@media (max-width: 995px) {
			    margin-bottom: 15px;
			}
		}
	}
	.btn-rwd-main{
		margin-top: 20px;
	}
	.main-navigation{
		ul{
			li{
				> a{
					padding: 30px 20px;
				}
				> ul{
					li{
						a{
							padding: 10px 20px; 
						}
					}
				}
			}
		}
	}
	.info-content{
		margin-top: 30px;
	}
}

.logo-holder{
	float: left;
	a{
		display: inline-block;
		margin-top: 25px;
		margin-right: 15px;
		margin-bottom: 25px;
		@media (max-width: 1200px) {
			margin-right: 0;
		}
		img{
			@media (max-width: 1200px) {
			    transform: scale( .8 );
			}
		}
	}
}
 
.main-navigation{
	float: left;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	z-index: 333;
	@media (max-width:995px){
	    display: none;
	}
	ul{
		list-style: none outside none;
		padding: 0;
		margin: 0;
		li{
			float: left;
			position: relative;
			> a{
				display: block;
				color: white;
				padding: 40px 20px;
			}
			> ul{
				display: none;
				position: absolute;
				min-width: 170px;
				background-color: rgba( black, .9 );
				font-size: 12px;
				top: 100%;
				z-index: 999;
				li{
					float: none;
					display: block;
					&:first-child{
						>a{
							padding-top: 15px;
						}
					}
					&:last-child{
						> a{
							padding-bottom: 15px;
						}
					}
					> a{
						padding: 10px 20px;
					}
				}
			}
			&:hover, &:focus{
				> a{
					outline-color: transparent;
					color: rgba( white, .3 );
				}
			}
		}
	}
}

.info-content{
	float: right;
	transition: all 250ms ease;
	margin-top: 40px;
	@media (max-width:995px){
	    float: left;
	}
	@media (max-width: 767px) {
	    display: none;
	}
	p{
		display: inline-block;
		margin: 0;
	}
	.info{
		color: transparent;
		font-size: 0;
		line-height: 0;
		background-image: url("../images/jointhemoment.png");
		background-repeat: no-repeat;
		height: 29px;
		width: 178px;
		display: inline-block;
		position: relative;
		top: -23px;

	}
	.link-info{
		text-transform: uppercase;
		display: inline-block;
		// float: right;
		margin-left: 15px;
		font-weight: bold;
		font-size: 14px;
		color: white;
		&:hover,
		&:focus{
			color: rgba( white, .7 );
		}
	}
}

/*  SITE-MAIN's
/* ------------------------------------ */
.site-main{
	position: relative;
	.custom-homepage{
		position: relative;
	}
}

.page-site{
	position: relative;
	.header-section{
		margin-top: 30px;
		margin-bottom: 30px;
		@media (max-width: 768px) {
		    margin-left: 30px;
		}
	}
	.title-section{
		font-size: 18px;
		text-transform: uppercase;
		@include Brandon;
		font-weight: bold;
	}
}

.custom-homepage-inner,
.custom-page{
	position: relative;
	@media (min-width:1250px) {
	    max-width: 1400px;
	}
	.item-featured{
		margin-bottom: 6px;
		overflow: hidden;
		height: 470px;
		@media (max-width: 994px) {
		    margin-bottom: 0;
		    overflow: inherit;
		    height: auto;
		}
	}
	.inner-featured{
		// height: 285px;
	}
	.widget-event{
		margin-bottom: 6px;
		// margin-left: 3px;
		padding-bottom: 0 !important;
		@media (max-width: 994px) {
		    width: 100% !important;
		}
		.box-event{
			height: 470px;
			@media (max-width: 994px) {
			    height: auto;
			}
		}
	}
	.widget-ads{
		a{
			height: 232px;
		}
		img{
			height: 100%;
		}
	}
	.header-section{
		position: relative;
		@media (max-width: 995px) {
		    display: none;
		}
		.title-section{
			@include Brandon-Grotesque;
			position: absolute;
			margin: 0;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
			z-index: 333;
			transform: rotate( -90deg );
			left: -17%;
			top: 150px;
			padding-bottom: 10px;
			&:before{
				content: "";
				position: absolute;
				height: 40px;
				width: 40px;
				background-color: $color-yellow;
				transform: rotate(-45deg );
				z-index: 33;
				top: 90%;
				left: 50%;
				@media ( max-width: 1290px) {
				    display: none;
				}
			}
		}
	}
	.sidebar{
		display: block;
		padding-left: 0px;
		padding-right: 0px;
	}
	.row{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.grid-less,
	.grid-wide{
		float: left;
	}
	.grid-less{
		width: 7%;
		@media (max-width:995px){
		    width: 0;
		    display: none;
		}
	}
	.grid-wide{
		width: 93%;
		@media (max-width:995px){
		    width: 100%;
		    // display: none;
		}
	}
	.title-event{
		@include Brandon-Grotesque;
		text-align: center;
		position: relative !important;
		text-align: center !important;
		font-size: 14px !important;
	}
	.event-info{
		.text{
			font-size: 12px !important;
			@include Brandon-Grotesque;
		}
	}
	.widget-ads{
		img{
			width: 100% !important;
		}
	}
	.featured-lokal-section{
		padding: 0 0;
		margin-left: -3px;
	}
	.brands-lokal{
		padding: 0 0;
		margin-top: 15px;
	}
}

.yellow-line{
	position: relative;
	// padding-right: 0px;
	// margin-right: -3px;
	.yellow-line-inner{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: $color-yellow;
		min-width: 60px;
		// &:before{
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	background-color: $color-yellow;
		// 	width: 100vw;
		// 	height: 100%;
		// 	right: 100%;
		// 	z-index: 1;
		// }
	}
}

.custom-page{
	.header-section{
		.title-section{
			position: relative;
			transform: rotate(0deg);
			top: 0;
			left: 0;
			padding-bottom: 0;
			&:before{
				display: none;
			}
		}
	}
	.primary-event{
		.title-event{
			font-size: 32px !important;
		}		
	}

	.sidebar-page{
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	.city-wrapper{
		max-width: 860px;
		margin: 0 auto;
		@media (max-width:979px) {
		    max-width: 660px;
		}
		@media (max-width: 767px) {
		    max-width: 520px;
		}
		@media (max-width: 570px) {
		    max-width: 370px;
		}
		@media (max-width: 480px) {
		    max-width: 300px;
		}
	}
}

.sidebar-page{
	@media (max-width: 995px) {
	    margin-top: 30px;
	}
}

/*  ARTICLE's
/* ------------------------------------ */
.blog-articles{
	position: relative;

}

article{
	margin-bottom: 30px;
	.img-pull-left{
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.img-full-width{
		img{
			width: 100%;
			display: block;
			background-color: darken( $color-bg-gray, 10% );
		}
	}
	.header-article{
		.meta-extra{
			color: $color-blue-dark;
			font-style: italic;
			font-weight: normal;
			font-size: 12px;
			a{
				color: $color-blue-dark;
				&:hover,
				&:focus{
					color: lighten( $color-blue-dark, 15% );
				}
			}
		}
		h2{
			margin: 15px 0;
			text-transform: uppercase;
			font-size: 26px;
		}
		h3{
			margin-top: 15px;
			margin-bottom: 15px;
			text-transform: uppercase;
			font-size: 16px;
			a{
				color: $color-blue-dark;
				&:hover,
				&:focus{
					color: lighten( $color-blue-dark, 10% );
				}
			}
		}
	}
}

.single-article{
	margin-top: 5px;
	margin-bottom: 60px;
	.meta-extra{
		font-size: 14px !important;
		margin-bottom: 10px !important;
		// font-weight: bold !important;
	}
	.header-article{
		h2{
			margin-top: 0;
		}
	}
	.img-full-width{
		margin-bottom: 30px;
	}
	p{
		@include SourceSansPro;
		margin-bottom: 30px;
	}
}

.blog-article{
	padding-bottom: 15px;
	border-bottom: 1px solid darken( $color-bg-gray, 15% );
	.img-pull-left{
		@media (max-width: 570px) {
		    float: none;
		    margin-right: 0;
		    text-align: center;
		}
		img{
			min-height: 300px;
			@media (max-width: 570px) {
			    min-height: inherit;
			}
		}
	}
	.header-article{
		margin-top: 100px;
		@media (max-width: 570px) {
		    margin-top: 30px;
		}
	}
	p{
		font-size: 16px;
	}
}

.small-article{
	margin-bottom: 15px;
	.header-article{
		margin-top: 5px;
		margin-bottom: 0;
		h2{
			margin: 0;
			font-size: 14px;
			text-transform: uppercase;
			a{
				color: $color-blue-dark;
				&:hover,
				&:focus{
					color: lighten( $color-blue-dark, 15% );
				}
			}
		}
	}
}

.breadcrumbs{
	text-transform: capitalize;
	margin-left: 15px;
	margin-top: 30px;
	@include SourceSansPro;
	a, span, i{
		color: $color-text-gray;
		font-size: 14px;
	}
	i{
		font-size: 12px;
		margin-left: 5px;
		margin-right: 5px;
	}
	a, span{
		font-style: italic;
	}
	a{
		&:hover,
		&:focus{
			color: $color-blue-dark;
		}
	}
}

.list-share{
	margin: 15px 0;
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
		}
	}
	a{
		display: block;
		height: 28px;
		width: 28px;
		line-height: 28px;
		text-align: center;
		font-size: 21px;
		color: white;
		background: $color-blue-dark;
		margin-right: 5px;
	}
}

.article-author{
	margin-top: 30px;
	border-top: 3px solid $color-blue-dark;
	.img-author{
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
		img{
			height: 120px;
			width: 120px;
			display: block;
			background: darken( $color-bg-gray, 15% );
		}
	}
	.header-author{
		margin-top: 20px;
		margin-bottom: 10px;
		span{
			display: inline-block;
			font-style: italic;
		}
		h4{
			display: inline-block;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 16px;
			margin-left: 5px;
			position: relative;
			top: 1px;
		}
	}
	.desc-author{
		@include SourceSansPro;
		font-size: 14px;
		font-style: italic;
		font-weight: normal;
	}
}

/*  HOMEPAGE's
/* ------------------------------------ */
.homepage-carousel{
	.item{
		position: relative;
		img{
			width: 100%;
			position: relative;
			margin-bottom: -2px;
			// min-height: 400px;/
		}
	}
	.item-information{
		background-color: $color-blue-dark;
		padding: 20px 0;
		.title-information{
			margin: 0;
			color: white;
			text-align: center;
			font-size: 32px;
			padding: 10px 0;
			@include Brandon;
			@media (max-width: 570px) {
			    font-size: 21px;
			}
		}
	}
	.owl-controls{
		position: relative;
	}
	.owl-nav{
		position: absolute;
		width: 100%;
		margin-top: -30%;
		@media (max-width: 570px) {
		    display: none !important;
		}
		.owl-prev,
		.owl-next{
			display: inline-block;
			font-size: 32px;
			background-color: $color-bg-gray;
			padding: 15px 8px;
			color: $color-blue-dark;
			position: absolute;
			transition: all 250ms ease;
			&:hover,
			&:focus{
				opacity: .65;
			}
		}
		.owl-prev{
			left: 10%;
		}
		.owl-next{
			right: 10%;
		}
	}
	.owl-dots{
		position: absolute;
		width: 100%;
		// text-align: center;
		right: 10%;
		text-align: right;
		.owl-dot{
			margin: 0 5px;
			background-color: rgba( $color-blue-dark, .35 );
			border-radius: 0;
			height: 5px;
			width: 30px;
			transition: all 350ms ease;
			display: inline-block;
			position: relative;
			top: -160px;
			@media (max-width: 850px) {
			    top: -90px;
			}
			&.active{
				background-color: $color-yellow;;
			}
		}
	}
	.arrow-left,
	.arrow-right{
		position: relative;
		display: block;
		background-repeat: no-repeat;
		width: 28px;
		height: 60px;
	}
	.arrow-left{
		background-image: url("../images/icon/arrowleft.png");
	}
	.arrow-right{
		background-image: url("../images/icon/arrowright.png");
	}
}


/*  INFORMATION's
/* ------------------------------------ */
#information{
	background-color: $color-blue-dark;
}


/*  SEARCH-ADVANCE-SECTION's
/* ------------------------------------ */
.search-advance-section{
	position: relative;
	width: 100%;
	padding: 15px 30px;
	.title-section{
		@include Brandon;
		font-weight: bold;
		font-size: 14px;
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		line-height: 39px;
		height: 39px;	
		float: left;
		width: 20%;
		margin: 5px 0 0;
		@media (max-width: 995px) {
		    width: 100%;
		    margin-bottom: 20px;
		    float: none;
		    text-align: center;
		}
		img{
			margin-right: 10px;
			position: relative;
			top: -5px;
		}
	}
	.form-search-advance{
		float: left;
		width: 80%;
		margin-top: 0;
		@media (max-width: 995px) {
		    width: 100%;
		    // margin-bottom: 20px;
		}
	}
}

/*  FEATURED's
/* ------------------------------------ */
.item-featured{
	position: relative;
	padding: 0 3px 6px !important;
	@media (max-width: 768px) {
	    padding: 0 30px 30px !important;
	}
	.inner-featured{
		position: relative;
		display: block;
		&:hover,
		&:focus{
			
		}
	}
	.img-featured{
		width: 100%;
		display: block;
		transition: all 350ms ease;
	}
	.desc-featured{
		background-color: $color-blue-dark;
		padding: 20px;
		display: block;
		height: 100vh;
		@media (max-width: 994px) {
		    height: auto;
		}
		h3{
			margin: 0 0 10px;
			font-size: 15px; 
			@include Brandon;
			font-weight: bold;
			color: white;
			text-transform: uppercase;
		}
		p{
			@include SourceSansPro;
			color: white;
			font-size: 16px;
			margin-bottom: 20px;
		}
		.more{
			@include SourceSansPro;
			float: right;
			font-style: italic;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 10px;
			color: white;
			i{
				margin-left: 5px;
			}
			&:hover,
			&:focus{
				color: rgba( white, .35 );
			}
		}
	}
}



/*  CONTACT's
/* ------------------------------------ */
.form-contact{
	position: relative;
	// margin-left: 120px;
}

.header-contact{
	line-height: 1.5;
	margin-bottom: 30px;
	h3{
		text-transform: uppercase;
		@include Brandon-Grotesque;
		font-size: 16px;
		font-weight: bold;
		display: inline-block;
		float: left;
		margin: 0;
		span{
			font-size: 27px;
		}
		margin-right: 15px;
	}
	p{
		@include Brandon-Grotesque;
		text-transform: uppercase;
		font-size: 11px;
		margin: 10px 0 0;
		color: $color-blue-dark;
		font-weight: bold;
	}
}



/*  BRANDS
/* ------------------------------------ */
.item-brand{
	border-right: 1px solid white;
	.inner-brand{
		position: relative;
		&:hover,
		&:focus{
			img{
				transform: scale(1.1), rotateX(30deg);		
			}
		}
		img{
			display: block;
			transition: all 350ms ease;
		}
	}
	.desc-brand{
		position: relative;
		width: 100%;
		background-color: $color-blue-dark;
		padding: 10px 15px;
		text-align: center;
		h3{
			margin: 0;
			color: white;
			text-transform: uppercase;
			font-size: 16px;
		}
	}
}

.brand-carousel{
	.owl-controls{
		position: absolute;
		top: 0px;
		right: 0;
		overflow: hidden;
		height: 100%;
	}

	.owl-nav{
		// position: absolute;
		// width: 100%;
		// margin-top: -25%;
		// .owl-prev,
		.owl-next{
			// display: inline-block;
			// font-size: 32px;
			background-color: $color-yellow;
			// padding: 4em 1em;
			// color: $color-blue-dark;
			// position: absolute;
			transition: all 250ms ease;
			// height: 100vh;
			&:hover,
			&:focus{
				opacity: .65;
			}
		}
		.owl-prev{
			// left: 10%;
		}
		.owl-next{
			// right: 10%;
			width: 8vh;
			height: 100vh;
			text-align: center;
		}
	}
	.owl-dots{
		display: none !important;
	}
	.arrow-left{
		display: none !important;
	}

	.arrow-right{
		position: relative;
		display: inline-block;
		background-repeat: no-repeat;
		width: 28px;
		height: 60px;
		right: 10px;
		top: 20%;
		left: 5px;
		@media ( min-width: 1200px) {
		    top: 15%;
		}
	}
	.arrow-right{
		background-image: url("../images/icon/arrowright.png");
	}
}

/*  SEARCH-ADVANCE
/* ------------------------------------ */
.search-advance{


}

/*  WIDGET's
/* ------------------------------------ */
.widget{
	position: relative;
	padding: 0 3px 6px !important;
	@media (max-width: 994px) {
	    float: left;
	    width: 50%;
	}
	@media (max-width: 480px) {
	    width: 100%;
	}
	.title-widget{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 2px solid $color-blue-dark;
	}
}

.box-event{
	position: relative;
	// height: 285px;
	overflow: hidden;
	text-align: right;
	background-color: white;
	img{
		
	}

	.title-event{
		position: absolute;
		top: 0;
		font-size: 12px;
		text-transform: uppercase;
		text-align: left;
		color: white;
		margin: 0;
		padding: 0 15px;
		background: $color-blue-dark;
		width: 100%;
		height: 40px;
		line-height: 40px;
		.more{
			font-size: 9px;
			float: right;
			font-style: italic;
			display: inline-block;
			border-bottom: 1px solid white;
			color: white;
			line-height: 1.2;
			padding-top: 15px;
			&:hover,
			&:focus{
				color: rgba( white, .4 );
				border-bottom-color: rgba( white, .4 );
			}
		}
	}
	.event-info{
		position: absolute;
		bottom: 0;
		display: block;
		text-transform: uppercase;
		left: 0;
		width: 100%;
		height: 40px;
		line-height: 40px;
		margin-bottom: 0;
		z-index: 11;
		.indicate{
			float: left;
			width: 20%;
			background-color: $color-yellow;
			font-size: 16px;
			color: black;
			font-weight: bold;
			height: 40px;
			line-height: 40px;
			text-align: center;
		}
		.text{
			text-align: center;
			padding: 0px 10px;
			font-size: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 80%;
			float: left;
			color: white;
			background-color: $color-blue-dark;
		}
	}
}

.widget-ads{
	@media (max-width: 480px) {
	    text-align: center;
	}
	a{
		display: block;
		@media (max-width: 480px) {
		    display: inline-block;
		    margin: 0 auto;
		}
		&:hover,
		&:focus{
			opacity: .6;
			img{
				// opacity: .6;
			}
		}
		img{
			display: block;
			transition: all 250ms ease;
		}
	}
}

.widget-related-articles{
	@media (max-width: 995px) {
		width: 100%;
	}
	.small-article{
		@media (max-width: 995px) {
			float: left;
			width: 49%;
			margin-right: 1%;
			margin-bottom: 30px;
		}
		@media (max-width: 480px) {
		    width: 100%;
		}
	}
	.list-articles{
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
}

/*  BOX-INFORAMTION's
/* ------------------------------------ */
.box-information{
	position: relative;
	margin-top: 60px;
	text-align: center;
	.title-info-information{
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 10px;
		@include Brandon-Grotesque;
		font-size: 21px;
		font-weight: bold;
	}
	.join{
		position: relative;
		width: 480px;
		height: 77px;
		background-image: url("../images/joinbig.png");
		background-repeat: no-repeat;
		display: inline-block;
		top: -20px;
		@media (max-width: 995px) {
		    display: block;
		    margin: 0 auto;
		}
		@media (max-width: 480px) {
		    display: none;
		}
	}
	.more{
		@media (max-width: 480px) {
		    margin-top: 30px;
		}
		text-transform: uppercase;
		display: inline-block;
		padding: 0;
		border-bottom: 1px solid $color-blue-dark;
		color: $color-blue-dark;
		@include Brandon-Grotesque;
		font-weight: bold;
		margin-bottom: 30px;
		position: relative;
		letter-spacing: 2px;
		top: -10px;
		&:hover,
		&:focus{
			color: lighten( $color-blue-dark, 20% );
			border-bottom-color: lighten( $color-blue-dark, 20% );
		}
	}
}

/*  SITE-FOOTER's
/* ------------------------------------ */
.copyright{
	// margin-top: 30px;
	margin-bottom: 30px;
	@include Brandon;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	// font-weight: bold;
	color: $color-blue-dark;
	a{
		color: $color-blue-dark;
		&:hover, &:focus{
			color: $color-blue-dark;
		}
	}
}

.nav-footer{
	text-align: left;
	@include Brandon-Grotesque;
	@media (max-width: 995px) {
	    text-align: center;
	}
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
	li{
		// display: inline-block;
		display: block;
		float: left;
		position: relative;
		@media (max-width: 570px) {
		    float: none;
		}
		&:first-child{
			> span, a{
				margin-left: 0;
				padding-left: 0;
			}
		}
		&:last-child{
			> span, a{
				margin-right: 0;
				padding-right: 0;
			}
		}
		> span,a{
			display: block;
			color: $color-blue-dark;
			padding: 5px 3px;
			margin: 0 10px;
			text-transform: uppercase;
			font-weight: bold;
			@media (max-width: 570px) {
			    margin: 0;
			}
		}
		>a{
			&:hover,
			&:focus{
				opacity: .35;
			}
		}
		> span{
			display: inline-block;
			position: relative;
			top: -3px;
		}
	}

	.box-socmed{
		display: inline-block;
		@media (max-width: 570px) {
		    display: block;
		}
		a{
			margin-left: 0;
			display: inline-block;
			position: relative;
			top: -4px;
			&:hover,
			&:focus{
				opacity: .35;
			}
		}
	}
}

/*  SECTION-CAREER's
/* ------------------------------------ */
.section-career{
	.container{
		max-width: 960px;
	}
	.header-section{
		text-align: center;
		margin-top: 60px;
		margin-bottom: 30px;
	}
	.title-section{
		margin: 0 0 15px;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: bold;
		color: white;
		@media (max-width: 570px) {
		    font-size: 24px;
		}
	}
	.subtitle{
		@include SourceSansPro;
		font-size: 18px;
		color: white;
		margin: 0;
		@media (max-width: 570px) {
		    font-size: 14px;
		}
	}
}

.item-career{
	text-align: center;
	position: relative;
	margin-bottom: 30px;
	.item-career-inner{
	}
	.title-career{
		margin-top: 0;
		@include Brandon;
		font-size: 18px;
		margin-bottom: 20px;
		color: white;
		text-transform: uppercase;
		@media (max-width: 570px) {
		    font-size: 16px;
		}
	}
	p{
		@include SourceSansPro;
		font-size: 14px;
		color: white;
		@media (max-width: 570px) {
		    font-size: 12px;
		}
	}
}

.btn-email-career{
	padding: 1em 2em .5em;
	vertical-align: bottom;
	position: relative;
	img{
		margin-left: 5px;
		position: relative;
		top: -0.2em;
	} 
}

/*  BANNER
/* ------------------------------------ */
.section-bg-inner{
	position: relative;
	padding: 0 !important;
	img{
		width: 100%;
	}
}

.section-bg{
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.banner-caption{
	padding: 15% 0 5%;
	position: relative;
}

.caption-content{
	margin: 0 0 15px;
	font-size: 18px;
	color: white;
	line-height: 1.4;
	font-weight: normal;
	@include Brandon;
}

.caption-author{
	margin: 0;
	font-size: 21px;
	@include Brandon;
	color: white;
	font-weight: normal;
	position: relative;
	display: inline-block;
	text-transform: capitalize;
	&:before,
	&:after{
		content: "-";
		position: absolute;
		top: 10%;
	}
	&:before{
		left: -10px;
	}
	&:after{
		right: -10px;
	}
}

.banner-caption-inner{
	position: relative;
	&.in-right-bottom{
		max-width: 460px;
		margin-left: 60%;
		margin-top: 15%;
		@media (max-width: 570px) {
		    margin-left: 0;
		}
		.caption-author{
			text-align: right;
			float: right;
		}
	}
	&.in-left-bottom{
		text-transform: uppercase;
		max-width: 500px;
		margin-left: 0;
		margin-top: 5%;
		margin-bottom: 10%;
		@media (max-width: 570px) {
		    max-width: inherit;
		    margin-top: 18%;
		}
		.small-text{
			font-size: 36px;
			color: #8c3014;
			@media (max-width: 570px) {
			    font-size: 16px;
			}
			span{
				font-size: 75px;
				@media (max-width: 570px) {
				    font-size: 34px;
				}
			}
		}
		p{
			color: #8c3014;
			@include SourceSansPro;
			font-size: 19px;
			color: black;
			text-transform: none;
			@media (max-width: 570px) {
			    font-size: 14px;
			}
		}
	}
}


/*  EVENTS
/* ------------------------------------ */
.primary-event{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
	.title-event{
		@include Brandon-Grotesque;
		font-size: 32px;
		color: black;
		text-transform: uppercase;
		margin-bottom: 15px;
		@media (max-width: 570px) {
		    font-size: 24px;
		}
	}
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			padding-bottom: 15px;
			margin-left: -4px;
			border-bottom: 4px solid #090727;
			@media (max-width: 570px) {
			    border-bottom-width: 2px;
			    padding-bottom: 8px;
			    padding-top: 8px;
			}
			&:first-child{
				margin-left: 0;
			}
			&:hover,
			&:focus,
			&.active{
				a{
					background: $color-yellow;
				}
			}
		}
		a{
			display: block;
			@include Brandon-Grotesque;
			font-size: 24px;
			padding: .3em .8em;
			background-color: transparent;
			text-transform: uppercase;
			color: black;
			@media (max-width: 570px) {
			    font-size: 14px;
			}
		}
	}
}

.secondary-event{
	width: 100%;
	background-color: #e3e3e3;
	margin: 30px 0;
	padding: 1em 0;
	text-align: center;
	ul{
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
	li{
		display: inline-block;
		margin-left: -4px;
		@media (max-width: 570px) {
		    // display: block;
		    // margin-left: 0;
		}
		&:first-child{
			margin-left: 0;
		}
		&:hover,
		&:focus,
		&.active{
			a{
				border-color: black;
			}
		}
	}
	a{ 
		display: block;
		background: transparent;
		font-size: 16px;
		padding: .3em .8em;
		@include Brandon-Grotesque;
		text-transform: uppercase;
		border: 2px solid transparent;
		color: black;
		margin: 0 10px;
		@media (max-width: 570px) {
		    display: inline-block;
		    // margin: 0 auto 8px;
		}
	}
}

.item-event{
	position: relative;
	margin-bottom: 30px;
	min-height: 505px;
}
.item-event-inner{
	.img-event{
		position: relative;
		img{
			width: 100%;
			position: relative;
		}
	}
	.date-event{
		position: absolute;
		@include SourceSansPro;
		font-size: 18px;
		color: black;
		padding: .3em .6em;
		display: block;
		top: 0;
		left: 0;
		z-index: 1;
		background: $color-yellow;
	}
	.desc-event{
		background-color: $color-blue-dark;
		padding: 1.5em 1em;
		// min-height: 230px;
	}
	.title-event{
		@include Brandon-Grotesque;
		font-size: 18px;
		line-height: 1.4;
		text-transform: uppercase;
		color: white;
		margin: 0 0 15px;
	}
	p{
		color: white;
		@include SourceSansPro;
		font-size: 12px;
	}
	.more{
		color: white;
		@include SourceSansPro;
		display: inline-block;
		float: right;
		text-transform: uppercase;
		font-style: italic;
		border-bottom: 1px solid white;
		&:hover,
		&:focus{
			opacity: .8;
		}
	}
}

.btn-event{
	padding: 1em 1em;
}


/*  SECTION JOIN
/* ------------------------------------ */
.section-join{
	.container{
		max-width: 960px;
	}
	.join{
		position: relative;
		width: 480px;
		height: 77px;
		background-image: url("../images/joinbig.png");
		background-repeat: no-repeat;
		display: inline-block;
		margin-bottom: 20px;
		@media (max-width: 570px) {
		    background-image: none;
		    margin-bottom: 0;
		    width: auto;
		    height: auto;
		}
	}
	.text-uppercase{
		font-weight: bold;
		max-width: 550px;
		margin: 0 auto 30px;
		@media (max-width: 570px) {
		    font-size: 10px;
		}
	}
	.bg-blue{
		.header-section{
			text-align: center;
			margin-bottom: 30px;
			@media (max-width: 570px) {
			    margin-bottom: 15px;
			}
			h2, .subtitle{
				color: white;
			}
			h2{
				margin-top: 0;
				text-transform: uppercase;
				font-size: 30px;
				@media (max-width: 570px) {
				    font-size: 18px;
				}
			}
			.subtitle{
				@include SourceSansPro;
				font-style: italic;
				font-size: 20px;
				max-width: 650px;
				margin: 0 auto;
				@media (max-width: 570px) {
				    font-size: 14px;
				}
			}
		}
		p{
			color: white;
		}
	}
	.subsection-box{
		padding: 30px;
		@include SourceSansPro;
		font-size: 18px;
		@media (max-width: 570px) {
		    font-size: 13px;
		}
	}
	.list-keuntungan{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li{
			position: relative;
			&:before{
				content: "\f111";
				font-family: "FontAwesome";
				font-size: 6px;
				top: 10px;
				color: white;
				position: absolute;
			}
			p{
				padding-left: 15px;
			}
		}
	}
	.title-page{
		text-align: center;
		@include Brandon-Grotesque;
		color: white;
		font-size: 18px;
		text-transform: uppercase;
		line-height: 1.4;
		@media (max-width: 570px) {
		    font-size: 14px;
		}
	}
}

.join-arrow-container{
	text-align: center;
	.btn-lb{
		padding: 1em 1.5em;
	}
	.icon-arrow-bottom{
		position: relative;
		display: inline-block;
		margin: 15px auto;
		background-image: url("../images/icon/arrowbottom.png");
		background-repeat: no-repeat;
		height: 36px;
		width: 66px;
	}
}

/*  SECTION BRAND-DETAIL
/* ------------------------------------ */
.section-brand-detail{
	.container{
		max-width: 960px;
	}
	.subsection-box{
		padding: 30px;
	}
	.ayunan{
		display: inline-block;
		position: relative;
		background-image: url("../images/ayunan.png");
		background-repeat: no-repeat;
		width: 244px;
		height: 144px;
	}
	.title-page{
		@include Brandon-Grotesque;
		text-transform: uppercase;
		font-size: 18px;
		margin: 15px 0;	
	}
	p{
		@include SourceSansPro;
		font-size: 14px;
	}
	.img-offset-section{
		position: relative;
		display: block;
		text-align: center;
		margin: -30px auto 0;
	}
	.helper-center{
		@media (max-width: 995px) {
		    text-align: center;
		}
	}
}

.list-how-tobuy{
	margin-top: 15px;
	text-align: center;
	.title-list{
		margin: 0 0 15px;
		@include Brandon-Grotesque;
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;
	}
	ul{
		list-style: none outside none;
		margin: 0 auto;
		padding: 0;
		li{
			display: inline-block;
			vertical-align: top;
			&:last-child{
				a{
					margin-right: 0;
				}
			}
		}
		a{
			display: block;
			margin-right: 10px;
			max-width: 75px;
			@include Brandon-Grotesque;
			font-size: 11px;
			text-transform: uppercase;
			color: black;
			text-align: center;
			&:hover,
			&:focus,
			&.active{
				opacity: .35;
			}
		}
	}
	.icon{
		height: 55px;
		width: 55px;
		display: inline-block;
		background-repeat: no-repeat;
		&-website{
			background-image: url("../images/icon/web.png");
		}
		&-phone{
			background-image: url("../images/icon/phone.png");
		}
		&-email{
			background-image: url("../images/icon/envelope.png")
		}
		&-store{
			background-image: url("../images/icon/store.png");
		}
	}
}

.item-detail-brands{
	position: relative;
	&.item-detail-big{
		a{
			width: 100%;
			img{
				height: 420px;
				width: 100%;
				@media (max-width: 767px) {
				    height: auto;
				}
				// @media (max-width: 995px) {
				//     height: auto;
				// }
			}
		}
	}
	&.item-detail-small{
		a{
			width: 100%;
			img{
				width: 100%;
				height: 210px;
				@media (max-width: 767px) {
				    height: auto;
				}
				// @media (max-width: 995px) {
			 //    	height: auto;
				// }
			}
		}
	}
	a{
		display: block;
		overflow: hidden;
		&:hover,
		&:focus{
			img{
				// transform: rotate( 10deg) scale(1.8) ;
			}
		}
	}
	img{
		transition: all 750ms ease;
		@media (max-width: 768px) {
		    width: 100%;
		}
	}
	.subitem-detail-brands{
		position: relative;
	}
}

.section-item-brands{
	.text-info{
		&.pull-left{
			margin-left: 30px;
		}
		&.pull-right{
			margin-right: 30px;
		}
		.title-info{
			margin-top: 0;
			margin-bottom: 15px;
			@include Brandon-Grotesque;
			font-size: 18px;
			text-transform: uppercase;
		}
		.text-uppercase{
			text-transform: uppercase;
			@include Brandon-Grotesque;
			font-size: 13px;
			color: black;
			a{
				color: black;
				&:hover,
				&:focus{
					opacity: .3;
				}
			}
		}
	}
	.list-socmed{
		text-align: left;
		margin: 0 0 10px;
		padding: 0;
		list-style: none outside none;
		li{
			display: inline-block;
			position: relative;
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
		}
		a{
			display: block;
			&:hover,
			&:focus{
				opacity: .3;
			}
		}
		.icon{
			background-repeat: no-repeat;
			width: 30px;
			height: 30px;
			&-facebook{
				background-image: url("../images/icon/facebook.png");
			}
			&-instagram{
				background-image: url("../images/icon/instagram.png");
			}
			&-twitter{
				background-image: url("../images/icon/twitter.png");
			}
		}
	}
}

.link-info-blue{
	text-transform: uppercase;
	@include Brandon-Grotesque;
	font-size: 13px;
	color: lighten( $color-blue-dark, 40% ); 
	&:hover,
	&:focus{
		opacity: .3;
	}
}

/*  RWD HANDLERS
/* ------------------------------------ */
.wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
		float: right;
	}
	.on-active-left{
		margin-right: -40%;
		// float: right;
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
		@media (max-width: 570px) {
		    margin-right: -60%;
		}
	}
}

.nav-sidebar{
	width: 40%;
	z-index: 999;
	background-color: black;
	position: fixed;
	height: 100%;
	transition: all 500ms ease;
	padding: 15px 0 30px;
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
	@media (max-width: 570px) {
	    width: 60%;
	}
	.nav-sidebar{
		margin-top: 50px;
	}
	ul{
		list-style: none outside none;
		padding: 0;
		margin: 0;
		margin-top: 30px;
		li{
			a, span{
				color: white;
				@include Brandon-Grotesque;
				font-size: 12px;
				text-transform: uppercase;
				padding: 10px 15px;
				display: block;
				font-weight: 600;
			}
			a{
				&:hover,
				&:focus{
					background-color: lighten( black, 15% );
					color: white;
					outline-color: transparent;
				}
			}
		}
	}
}

.nav-sidebar{
	margin-left: -40%;
	.btn-hide{
		margin-left: 30px;
	}
	@media (max-width: 570px) {
	    margin-left: -60%;
	}
	&.on-active{
		margin-left: 0;
	}
	ul{
		li{
			a, span{
				padding-left: 30px;
			}
		}
	}
}